<div class="center" >
    <div class="content">
        <div class="row">
            <div class="left_cont">
                <h1>Desarrollo aplicaciones y sitios web para
                    cualquier persona o compañia</h1>
                <p>Constantemente me encuentro aprendiendo nuevas
                    tecnologias y desarrollando aplicaciones.
                    Esta web la construi desde cero con Python y Flask !
                    Y quiero seguir profecionalizandome en este mundo !
                </p>
            </div>
            <div class="right_cont">
                <div class="left_cont_title">
                    <h1>Podemos conversar lo que quieras!</h1>
                </div>
                <div class="right_cont_title">
                    <p>Solo enviame un correo <a class="orange" href="#contacto">pinchando aqui !</a></p>
                </div>
            </div>
        </div>
    </div>    
</div>