<div class="center white-bg">
    <div class="content">
        <div class="padded">
            <h1>Esto es lo que aprendi a hacer!</h1>
        </div>
        <div class="row">
            <div class="card third">
                <h3>Mailer App</h3>
                <p>Esta es una aplicacion que puede enviar correos electronicos
                    que utiliza la API de Sendgrid.
                </p>
                <div class="espacioLinkAqui">
                    <a href="#" class="org1">Link Aqui</a>
                </div>
            </div>
            <div class="card third">
                <h3>Gestor de Clientes</h3>
                <p>Esta es una aplicacione para gestionar mis clientes,
                    utilizando una base de datos de MySql.
                </p>
                <div class="espacioLinkAqui">
                    <a href="{{ url_for('static', filename='libreta-clientes.exe') }}" class="org1">Link Aqui</a>
                </div>
            </div>
            <div class="card third">
                <h3>Gestor de Tareas</h3>
                <p>Aqui, esta aplicacion se puede parecer al "Gestor de Clientes",
                    pero toma otras variables y otras formas de presentacion, pero igual
                    funciona con MySql como base de datos.
                </p>
                <div class="espacioLinkAqui1">
                    <a href="{{ url_for('static', filename='Tareas.exe') }}" class="org1">Link Aqui</a>
                </div>
            </div>
        </div>
    </div>
</div>