<div class="hero">
    <div class="hero-content send-mail-margin">

        <div class="left_cont padded mono-email">
            <h1>Exelente! Correo enviado !</h1>
            <p>Un grupo de monos entrenados esta revisando tu
                correo ahora mismo, mentira, no estan entrenados.
                Aunque si lo estan revisando, o eso creo... en fin.
                No te preocupes, te contestaran dentro de poco!
            </p>
        </div>

        <div class="right_con padded">
            <img src="{{ url_for('static', filename='email-read.png') }}" width=400px />
        </div>


    </div>
</div>